{% extends 'base.html' %}
{% block content %}
<div class="shadow p-3 mb-5 bg-white rounded">
  <h1 style="color:gold">Welcome to the VK Movie recommender</h1>

</div>

  <form action="{{url_for('recommend')}}">
    <input type="text" name="movie" class="form-control" placeholder="Movie name here">
    <br>
      <br>
    <input type="submit" class="btn btn-info" value="Enter">
  </form>
<style>
    
body {
  background-image: url('website-background-hq-movies-desktop-608630.jpg');
}
    h1 {text-align: center;}
    
    form {text-align: center;}

    
</style>
{% endblock %}